body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar .nav-link {
  font-size: 11px;
  letter-spacing: 1.5px;
  color: #333;
  transition: opacity 0.2s ease;
}

.navbar .nav-link:hover {
  opacity: 0.6;
  color: #333;
}

.navbar-brand {
  font-size: 1.25rem;
}
